/*
 * Skin: SICC
 * ----------
 */

.skin-sicc .main-header .navbar {
  background-color: #FFFFFF;
  color: #999;
  padding: 0px;
}
.skin-sicc .main-header .navbar .nav > li > a {
  color: #ffffff;
}
.skin-sicc .main-header .navbar .nav > li > a:hover,
.skin-sicc .main-header .navbar .nav > li > a:active,
.skin-sicc .main-header .navbar .nav > li > a:focus,
.skin-sicc .main-header .navbar .nav .open > a,
.skin-sicc .main-header .navbar .nav .open > a:hover,
.skin-sicc .main-header .navbar .nav .open > a:focus {
  background: rgba(0, 0, 0, 0.1);
  color: #f6f6f6;
}
.skin-sicc .main-header .navbar .navbar-custom-menu > .nav {
  margin-right: 10px;
}
.skin-sicc .main-header .navbar .sidebar-toggle {
  color: #ffffff;
}
.skin-sicc .main-header .navbar .sidebar-toggle:hover {
  color: #333;
  background: rgba(0, 0, 0, 0.1);
}
.skin-sicc .main-header .navbar .sidebar-toggle {
  color: #2f5d72;
}
.skin-sicc .main-header .navbar .sidebar-toggle:hover {
  background-color: #f1f1f1;
}
.skin-sicc .main-header .logo {
  background-color: #5e4296;
  color: #ffffff;
  border-bottom: 0px solid transparent;
  height: 51px;
}
.skin-sicc .main-header .logo > a {
  color: #ffffff;
}
.skin-sicc .main-header .logo:hover {
  background: #208FD9;
}
.skin-sicc .main-header li.user-header {
  background-color: #0099ff;
}
.skin-sicc .content-header {
  background: transparent;
}
.skin-sicc .user-panel > .info,
.skin-sicc .user-panel > .info > a {
  color: #fff;
}
.skin-sicc .sidebar-menu > li.header {
  color: #4b646f;
  background: #1a2226;
}
.skin-sicc .sidebar-menu > li > a {
  border-left: 4px solid transparent;
  margin-right: 1px;
}
.skin-sicc .sidebar-menu > li > a:hover,
.skin-sicc .sidebar-menu > li.active > a {
  color: #ffffff;
  background: #1e282c;
  border-left-color: #fbb62d;
}

.skin-sicc .sidebar-menu > li > .treeview-menu {
  margin: 0 0px;
  background: #2c3b41;
}
.skin-sicc .wrapper,
.skin-sicc .main-sidebar,
.skin-sicc .left-side {
  background: #222d32;
}
.skin-sicc .sidebar a {
  color: #b8c7ce;
}
.skin-sicc .sidebar a:hover {
  text-decoration: none;
}
.skin-sicc .treeview-menu > li > a {
  color: #8aa4af;
}
.skin-sicc .treeview-menu li {
  border-left: 4px solid #2c3b41;
}
.skin-sicc .treeview-menu > li.active > a,
.skin-sicc .treeview-menu > li > a:hover {
  color: #ffffff;
}
.skin-sicc .treeview-menu li.active {
  border-left: 4px solid #fbb62d;
}
.skin-sicc .sidebar-form {
  border-radius: 3px;
  border: 1px solid #374850;
  margin: 10px 10px;
}
.skin-sicc .sidebar-form input[type="text"],
.skin-sicc .sidebar-form .btn {
  box-shadow: none;
  background-color: #374850;
  border: 1px solid transparent;
  height: 35px;
  -webkit-transition: all 0.3s cubic-bezier(0.32, 1.25, 0.375, 1.15);
  -o-transition: all 0.3s cubic-bezier(0.32, 1.25, 0.375, 1.15);
  transition: all 0.3s cubic-bezier(0.32, 1.25, 0.375, 1.15);
}
.skin-sicc .sidebar-form input[type="text"] {
  color: #666;
  border-top-left-radius: 2px !important;
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  border-bottom-left-radius: 2px !important;
}
.skin-sicc .sidebar-form input[type="text"]:focus,
.skin-sicc .sidebar-form input[type="text"]:focus + .input-group-btn .btn {
  background-color: #fff;
  color: #666;
}
.skin-sicc .sidebar-form input[type="text"]:focus + .input-group-btn .btn {
  border-left-color: #fff;
}
.skin-sicc .sidebar-form .btn {
  color: #999;
  border-top-left-radius: 0 !important;
  border-top-right-radius: 2px !important;
  border-bottom-right-radius: 2px !important;
  border-bottom-left-radius: 0 !important;
}
.skin-sicc.layout-top-nav .main-header > .logo {
  background-color: #3c8dbc;
  color: #ffffff;
  border-bottom: 0px solid transparent;
}
.skin-sicc.layout-top-nav .main-header > .logo > a {
  color: #ffffff;
}
.skin-sicc.layout-top-nav .main-header > .logo:hover {
  background: #3b8ab8;
}

/* Dropdown */
/*-----------------------------------------------------------------------------*/

.dropdown-item.active, .dropdown-item:active{
  background: #5e4296;
}

/* Pantalla de Inicio, START */
/*-----------------------------------------------------------------------------*/
.start_body{
  background: rgb(94,66,150);
  background: linear-gradient(180deg, rgba(94,66,150,1) 0%, rgba(40,20,92,1) 100%);
}

/* Pantalla de Inicio, START MOBILE */
/*-----------------------------------------------------------------------------*/
@media (max-width: 767px) {
  .start_body {
    background-color: #FAFAFA;
    background: linear-gradient(180deg, rgba(250,250,250,1) 0%, rgba(250,250,250,1) 100%);
  }
}