<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Terms</title>
</head>

<body>
    <h1>Política de tratamiento de datos personales</h1>
    <p>
        En este documento se establece la política de tratamiento de datos personales de Brave Centro de Entrenamiento
        S.A.S (en adelante “Brave” o la “Compañía”) como responsable del tratamiento de datos (la “Política”). Esta
        política pretende garantizar los derechos constitucionales de las personas que suministren sus datos personales
        a Brave e informarles sobre el uso que dará la Compañía a los mismos.
    </p>

    <p>
        El marco regulatorio que rige la Política de Brave está compuesto por la Constitución Política de Colombia, la Ley 1581 de 2012 y los decretos reglamentarios 1377 de 2013 y 886 de 2014, hoy contenidos en los capítulos 25 y 26 del Decreto único 1074 de 2015.
    </p>

    <h2>Definiciones</h2>
    <p>De conformidad con el marco regulatorio mencionado anteriormente, a continuación, se incorporan las definiciones relevantes que rigen la presente Política.</p>
    <ol>
        <li>
            Dato Personal: Cualquier información que esté relacionada, asociada o que permita identificar a una persona siendo esta su dueño o titular. Dichos individuos podrán ser:
            <ul>
                <li>a. Usuarios, clientes o suscriptores de Brave;</li>
                <li>b. Contratistas, administradores o proveedores de servicios;</li>
                <li>c.     Empleados de Brave;</li>
                <li>d. Personas naturales que no tengan vinculación contractual con Brave pero que hayan proporcionado sus Datos Personales y aceptado su Tratamiento.</li>

            </ul>
        </li>
        <li>Autorización: Es la aceptación o consentimiento previo, expreso e informado otorgado por los titulares de los Datos Personales para almacenarlos, usarlos, entregarlos a terceros o eliminarlos.
        </li>
        <li>Encargado del Tratamiento: Persona natural o jurídica encargada del tratamiento de los Datos Personales de los titulares, por cuenta de Brave, que realiza cualquier operación que involucre los datos personales recibidos por la Compañía.
        </li>
    </ol>

</body>

</html>