/* Pantallas pequeñas */
@media (max-width: 767px) {
    #head_title {
        max-width: 215px;
        text-overflow: ellipsis;
        font-size: 1.3em;
        margin-top: 0.5em;
    }

    .start_container {
        background-color: transparent;
        border: transparent;
        margin-top: 0px;
    }

    .start_footer{
        color: #666;
    }
}