

/* Fuentes */
/*-----------------------------------------------------------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');


:root{
    --color-main-app: #966EF0;
    --color-dark: #7255b8;
    --color-light: #a685f1;
    --color-bg: #FFFFFF;
    
    --color-secondary: #FEDF42;
    --color-secondary-light: #f7de61;
    --color-secondary-dark: #d4ba38;

    --color-nav-bg: #FFFFFF;
    --color-nav-font: #966EF0;
    --color-nav-active: #FCFCFC;
    --color-nav-font-active: #966EF0; 

    --font-main: 'Lexend', sans-serif;

    --color-bg-primary: #654096;
    --color-bg-primary-alt: #6a4aa7;
    --color-bg-secondary: #F9C412;
    --color-bg-secondary-alt: #ffcf30;
    --color-bg-success: #4CA048;
    --color-bg-success-alt: #68bd64;
    --color-bg-warning: #F9C412;
    --color-bg-warning-alt: rgb(248, 190, 74);
    --color-bg-ligth: #ced4da;
    --color-bg-ligth-alt: #FCFCFC;
    --color-bg-danger: #E5233E;
    --color-bg-danger-alt: #db394f;

    --color-text-link: #654096;
    --color-text-link-hover: #a685f1;

    --color-text-0: #FFFFFF;
    --color-text-1: #7d5dc7;
    --color-text-2: #1368A1;
    --color-text-3: #19B0CA;
    --color-text-4: #4CA048;
    --color-text-5: #F9C412;
    --color-text-6: #FE7135;
    --color-text-7: #E5233E;
    --color-text-8: #E21782;
    --color-text-9: #000;
}

/* Botones */
/*-----------------------------------------------------------------------------*/

.btn {
    border-radius: 0px;
}

.btn-primary {
    background-color: var(--color-bg-primary);
    border-color: var(--color-bg-primary);
}
.btn-primary:hover,
.btn-primary:active,
.btn-primary.hover {
    background-color: var(--color-bg-primary-alt);
    border-color: var(--color-bg-primary-alt);
}

.btn-success {
    background-color: var(--color-bg-success);
    border-color: var(--color-bg-success);
}
.btn-success:hover,
.btn-success:active,
.btn-success.hover {
    background-color: var(--color-bg-success-alt);
    border-color: var(--color-bg-success-alt);
}

.btn-warning {
    background-color: var(--color-bg-warning);
    border-color: var(--color-bg-warning);
}
.btn-warning:hover,
.btn-warning:active,
.btn-warning.hover {
    background-color: var(--color-bg-warning-alt);
    border-color: var(--color-bg-warning-alt);
}

.btn-light{
    border-color: var(--color-bg-ligth)
}

.btn-light:hover,
.btn-light:active,
.btn-light.hover{
    background-color: var(--color-bg-ligth-alt);
    border-color: #BBB;
}

.btn-danger{
    border-color: var(--color-bg-danger)
}

.btn-danger:hover,
.btn-danger:active,
.btn-danger.hover{
    background-color: var(--color-bg-danger-alt);
    border-color: #BBB;
}

/* Otros elementos */
/*-----------------------------------------------------------------------------*/

.progress-bar{
    background-color: var(--color-bg-primary);
}

.bg-success {background-color: var(--color-bg-success);}
.bg-danger {background-color: var(--color-bg-danger);}

.card {
    border: 1px solid #ebedf2;
    border-radius: 9px;
}

.form-control {
    border-color: #ebedf2;
    border-radius: 4px;
}

.form-select {
    border-color: #ebedf2;
    border-radius: 4px;
}

.nav-link {
    color: var(--color-text-1);
}
.nav-link:hover {
    color: var(--color-text-5);
}
.nav-pills .nav-link{
    border-radius: 0px;
}

.card-img, .card-img-top {
    border-radius: 0px;
}