

/* Fuentes */
/*-----------------------------------------------------------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');


:root{
    --color-main-app: #966EF0;
    --color-dark: #7d5dc7;
    --color-light: #af95ec;
    --color-bg: #966EF0;
    
    --color-secondary: #FFE042;
    --color-secondary-light: #f5e48d;
    --color-secondary-dark: #ccb335;

    --color-nav-bg: #1A1A1A;
    --color-nav-font: #FFF;
    --color-nav-active: #2a2730;
    --color-nav-font-active: #FFF; 

    --font-main: 'Lexend', sans-serif;

    --color-bg-primary: #654096;
    --color-bg-primary-alt: #7d5dc7;
    --color-bg-secondary: #F9C412;
    --color-bg-secondary-alt: #ffcf30;
    --color-bg-success: #4CA048;
    --color-bg-success-alt: #68bd64;
    --color-bg-warning: #FFE042;
    --color-bg-warning-alt: #eed455;
    --color-bg-ligth: #7d5dc7;
    --color-bg-ligth-alt: #6e52af;
    --color-bg-danger: #E5233E;
    --color-bg-danger-alt: #db394f;

    --color-text-link: #FFE042;
    --color-text-link-hover: #f5e48d;

    --color-text-0: #FFFFFF;
    --color-text-1: #7d5dc7;
    --color-text-2: #1368A1;
    --color-text-3: #19B0CA;
    --color-text-4: #4CA048;
    --color-text-5: #F9C412;
    --color-text-6: #FE7135;
    --color-text-7: #E5233E;
    --color-text-8: #E21782;
    --color-text-9: #000;
}

body{
    background-image: url('bg-lines.svg');
    background-repeat: repeat-y;  /* Repite solo verticalmente */
    background-size: 100% auto;   /* Ancho al 100%, altura proporcional */
    background-position: top center; /* Emieza desde arriba */
}

.bg-dark{
    background-color: #966EF0 !important;
    /*background-color: #111 !important;*/
}

.card{
    /* background-color: #966EF0; */
    background-color: transparent;
}

/* Botones */
/*-----------------------------------------------------------------------------*/

.btn {
    border-radius: 0px;
}

.btn-primary {
    background-color: var(--color-bg-primary);
    border-color: var(--color-bg-primary);
}
.btn-primary:hover,
.btn-primary:active,
.btn-primary.hover {
    background-color: var(--color-bg-primary-alt);
    border-color: var(--color-bg-primary-alt);
}

.btn-success {
    background-color: var(--color-bg-success);
    border-color: var(--color-bg-success);
}
.btn-success:hover,
.btn-success:active,
.btn-success.hover {
    background-color: var(--color-bg-success-alt);
    border-color: var(--color-bg-success-alt);
}

.btn-warning {
    background-color: var(--color-bg-warning);
    border-color: var(--color-bg-warning);
}
.btn-warning:hover,
.btn-warning:active,
.btn-warning.hover {
    background-color: var(--color-bg-warning-alt);
    border-color: var(--color-bg-warning-alt);
}

.btn-light{
    color: #FFF;
    border-color: var(--color-dark);
    background-color: var(--color-bg-ligth);
}

.btn-light:hover,
.btn-light:active,
.btn-light.hover{
    color: #FFF;
    background-color: var(--color-bg-ligth-alt);
    border-color: var(--color-dark);
}

.btn-danger{
    border-color: var(--color-bg-danger)
}

.btn-danger:hover,
.btn-danger:active,
.btn-danger.hover{
    background-color: var(--color-bg-danger-alt);
    border-color: #BBB;
}

/* Otros elementos */
/*-----------------------------------------------------------------------------*/

.progress-bar{
    background-color: var(--color-bg-primary);
}

.bg-success {background-color: var(--color-bg-success);}
.bg-danger {background-color: var(--color-bg-danger);}

.card {
    border: 1px solid #ebedf2;
    border-radius: 0px;
}

.card-img, .card-img-top {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

.form-control {
    border-color: #ebedf2;
    border-radius: 4px;
}

.form-select {
    border-color: #ebedf2;
    border-radius: 4px;
}